<div class="container">
<% provide(:title, "Random Verse")%>
<h1 >Bible Verse Generator</h1>
<div class="divider"></div>

<div class="verse-container">
    <%random_verse = get_random_verse%>
    <h2 class="verse"><%= random_verse[:content]%></h2>
    <h3 class="location"><%= random_verse[:location]%></h3>
</div>
<div class="divider"></div>
</div>
