<div class="center jumbotron">
    <h1>Welcome to the Evently App</h1>
    <h2>
        Create events, invite others and discover new events!
    </h2>

    <p> This is the home page for Evently, an app made using the <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>. Enjoy!</p>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div style="text-align: center; padding-top:20px">
    <p><small>Powered by</small></p>
    <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
                      "https://rubyonrails.org/" %>
</div>