<footer class="container footer">
    <small>
        The <%= link_to  "Evently App", root_path %>
        by a CSC 324 student.
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",   about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><a href="https://news.railstutorial.org/">News</a></li>
        </ul>
    </nav>
</footer>